@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap');

:root {
    --primary-font: 'Roboto', sans-serif;
    --primary-color: #222831;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */

li {
    list-style-type: none;
    font-family: var(--primary-font);
}

a {
    text-decoration: none;
    color: #333;
}

/* Classes */

/* Header */

.header {
    height: 70px;
    background: var(--primary-color);
}

.navbar {
    height: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar > ul {
    display: inherit;
    gap: 20px;
    font-size: 18px;
}

.navbar a {
    color: #fff;
}

.navbar > h1 {
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
}

.container {
    max-width: 1200px;
    margin: 10px auto;
    display: grid;
    gap: 50px 10px;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

.item {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
}

h3 {
    font-family: 'Roboto', sans-serif;
}

img {
    width: 75%;
    height: 70%;
    object-fit: contain;
}

.buttons a button {
    width: 100px;
    height: 35px;
    font-family: 'Zen Loop', cursive;
    font-size: 18px;
    background: var(--primary-color);
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    letter-spacing: 1.5px;
    padding: 10px;
    outline: none;
}

.footer {
    height: 100px;
    width: 100%;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer h1 a {
    color: #fff;
    font-size: 18px;
    font-family: 'Indie Flower', cursive;
}

.footer > ul {
    display: inherit;
    gap: 20px;
}

.footer img {
    width: 48px;
    height: 48px;
}

@media only screen and (min-width: 1225px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 1225px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 900px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (max-width: 600px) {
    .navbar {
        flex-direction: column;
    }

    .item {
        width: 300px;
    }
}